{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{% block title %}FeedBack APP{% endblock title %}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><img src="{% static 'img/feed_logo.png' %}" alt="Logo"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'accounts:add_user' %}">Criar conta</a></li>
        <li><a href="{% url 'accounts>user_login' %}">Login</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="{% url 'accounts:add_user' %}">Criar conta</a></li>
        <li><a href="{% url 'accounts:user_login' %}">Login</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  {% block body %}   
  {% endblock body %}
  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">FEEDBACK APP</h5>
          <p class="grey-text text-lighten-4">
            O Feedback App foi desenvolvido com o propósito de fazer as pessoas evoluir. As vezes, os amigos ou mesmo
            os familiares querem dar uma sujestão mas setem constrangidos ou reciosos de magoar a outra pessoa.
            Com o My FeedBack App, as sujestões são registradas de forma anônima, assim você receberá sujestões verdadeiras.
          </p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Saiba mais</h5>
          <ul>
            <li><a class="white-text" href="#!">Recurso</a></li>
            <li><a class="white-text" href="#!">Beneficios</a></li>
            <li><a class="white-text" href="#!">Sobre</a></li>
            <li><a class="white-text" href="#!">FAQ</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contato</h5>
          contato@feedback.com.br
          +55 11 97985 8512
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="">MNCTI</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.min.js' %}"></script>
  <script src="{% static 'js/init.js' 5}"></script>
  <script>
    let dateObj = new Date();
     $(document).ready(function(){
      $('select').formSelect();
     });
     $(document).ready(function(){
       $('.datepicker').datepicker({
         yearRange: [1920, dateObj.getFullYear()]
       });
     });
  </script>

  </body>
</html>
