{% extends 'base.html' %}


{% block title %}
{{ block.super }}
{% endblock title %}


{% block body %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">Saiba como evoluir</h1>
        <div class="row center">
            <h5 class="header col s12 light">Cadastre-se e receba sujestões sincera das pessoas.</h5>
        </div>
        <div class="row center">
            <a href="http://materializecss.com/getting-started.html" id="download-button"
                class="btn-large waves-effect waves-light orange">Criar conta</a>
        </div>
        <br><br>

    </div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">account_box</i></h2>
                    <h5 class="center">Crie sua conta</h5>

                    <p class="light">Para receber sujestões você precisa de uma conta no site. Preencha seu perfil,
                        compartilhe e peça sujestões!</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Receba feedbacks</h5>

                    <p class="light">Qualquer pessoa pode dar sujestões sobre você, o bom disso é que são anônimos, ou
                        seja, as pessoas vão dar sujestões importantes!</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">email</i></h2>
                    <h5 class="center">Receba uma notificaçao</h5>

                    <p class="light">A cada nova sujestão recebida você será notificado, assim você ficará sabendo
                        instântaneamente das sujestões das pessoas!</p>
                </div>
            </div>
        </div>

    </div>
    <br><br>
</div>

{% endblock body %}
        
        
 