{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}
    {{ block.super }} - Nova Conta
{% endblock title %}


{% block body %}

    <div class="container">
        <div class="row">
            <h2>Nova Conta</h2>
            <div class="row">
                
                {% if messages %}
                    
                    {% for message in messages %}
                        <div class="row">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}                        
                    
                {% endif %}
                    
                <form class="col s12" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s6">
                            {{ form.first_name|add_class:"validate" }}
                            <label for="id_first_name">Nome</label>
                        </div>
                        <div class="input-field col s6">
                            {{ form.last_name|add_class:"validate" }}
                            <label for="id_last_name">Sobrenome</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.username|add_class:"validate" }}
                            <label for="id_username">Usuário</label>
                        </div>                        
                        {% if form.username.erros %}
                            <div class="input-field col s12">
                                {{ form.username.erros.as_text }}
                            </div>
                        {% endif %}                            
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.email|add_class:"validate" }}
                            <label for="id_email">E-mail</label>
                        </div>
                        {% if form.email.erros %}
                            <div class="input-field col s12">
                                {{ form.email.erros.as_text }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {% render_field form.password class="validate" type="password" %}
                            <label for="id_password">Senha</label>
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Salvar
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    
{% endblock body %}    