{% extends 'base.html' %}

{% load widget_tweaks %}


{% block title %}
    {{ block.super }} - DASHBOARD
{% endblock title %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h5>Olá, seja bem vindo!!!</h5>
        </div>
    </div>
{% endblock body %}
    