{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}
    {{ block.super }} - Novo Perfil
{% endblock title %}


{% block body %}

    <div class="container">
        <div class="row">
            <h2>Novo Perfil</h2>
            <div class="row">
                
                {% if messages %}                    
                    {% for message in messages %}
                        <div class="row">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}                   
                {% endif %}
                    
                <form class="col s12" method="POST">
                    {% csrf_token %}
                        <div class="row">
                            <div class="file-field input-field col s12">
                                <div class="btn">
                                    <span>Foto</span>
                                    {{ form.phto|add_class:"validate" }}
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path-validate" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                {{ form.bio|add_class:"materialize-textarea validate" }}
                                <label for="form.bio.id_for_label">Biografia</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                {{ form.birthday|add_class:"datepicker validate" }}
                                <label for="form.birthday.id_for_label">Data Nascimento</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                {{ form.genre|add_class:"validate" }}
                                <label for="form.genre.id_for_label">Sexo</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                {{ form.cell_phone|add_class:"validate" }}
                                <label for="form.cell_phone.id_for_label">Celular</label>
                            </div>
                        </div>
                        <button class="btn waves-effect waves-light" type="submit" name="action">Salvar
                            <i class="material-icons right">send</i>
                        </button>
                </form>
            </div>
        </div>
    </div>
    
{% endblock body %}
    