{% extends 'base.html' %}

{% load widget_tweaks %}


{% block title %}
    {{ block.super }} - Login
{% endblock title %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h5>Faça seu Login</h5>
    
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
    
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="input-field col s12">
                    {{ form.username|add_class:'validate' }}
                    <label for="{{ form.username.id_for_label }}">Usuário</label>
                </div>
                <div class="input-field col s12">
                    {{ form.password|add_class:'validate' }}
                    <label for="{{ form.password.id_for_label }}">Senha</label>
                </div>
                <button class="btn waves-effect waves-ligth" type="submit">Logar</button>
                <i class="material-icons right">send</i>
            </form>
        </div>
    </div>
{% endblock body %}
    